@import '../../components/variables.scss';

.container {
  color: $Gray14;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px 0 50px;
  a {
    text-decoration: none;
  }
}

.heading {
  font-size: 2.2rem;
  padding-bottom: 30px;
}

.title {
  padding-top: 10px;
  font-size: 2.1rem;
}

.desc {
  padding: 30px 0;
  font-size: 1.9rem;
}

.surveylink {
  padding: 10px;
  border: 1px solid $Sky;
  margin: 20px 30px 30px 0;
  width: 20%;
  color: $Gray14 !important;
}

@media (max-width: 860px) {
  .container {
    padding: 5px;
  }
  .surveylink {
    margin: 30px 70px 30px 0;
    width: auto;
  }
}
