@import '../variables.scss';

.header {
  position: relative;
  // width: 100%;
  height: 74px;
  background: $White;
  border-bottom: 1px solid $PattensBlue;
  display: flex;
  justify-content: space-between;
}

.logoInfo{
  // width: 3%;
}

.heading{
  // width: 90%;
  // margin: auto;
}

.userName{
  // width: 7%;
}
