@import '../variables.scss';

.header {
  height: 74px;
  background: $White;
  border-bottom: 1px solid $PattensBlue;
  color: $MidnightBlue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logoInfo {
  background: url('../../public/assets/logo.png');
  background-size: cover;
  height: 74px;
  max-width: 72px;
  min-width: 72px;
}

.heading {
  font-size: 2.5rem;
}

.userName {
  font-size: 1.5rem;
}
